*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Quem somos
/* 5. Nossos cursos
/* 6. Planos
/* 7. Vantagens
/* 8. Newsletter
/* 9. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/
:root{
	--ff-primary: "Nunito", helvetica, arial, sans-serif;

	--clr-blue-dark: #097cc9;
	--clr-blue-light: #698fc2;
	--clr-pink-light: #d69989;
	--clr-white: #F5F5F5;
	--clr-marron: #c46032;
}
/**********************************/
/* 1. Estilos gerais
/**********************************/
html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--clr-white);
	font-family: var(--ff-primary);
}

a,
a:hover,
a:active,
a:link,
a:visited{
	text-decoration: none;
	color: #000;
}

hr{
	border: none;
	background-color: var(--clr-pink-light);
	height: 2px;
	width: 8.75rem;
	margin: 1.25rem auto;
}

p{
	line-height: 21.82px;
	padding: 0 10px;
}

.section__title{
	text-align: center;
	font-size: 3rem;
	margin-bottom: 10px;
}

img{
	display: block;   /*essa regra é para tornar a imagem responsivel*/
	max-width: 100%;
}
/**********************************/
/* 2. Menu
/**********************************/
.menu-bg{
	background-color: var(--clr-blue-light);
}

.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 60rem; /*960 in pixels*/
	margin: 0 auto;
	padding: 15px;
	flex-wrap: wrap;
	font-size: 20px;
}

.logotipo{
	margin: .625rem;
}

.nav__list{
	display: flex;
	flex-wrap: wrap;
}

.nav__link{
	padding: 1.25rem .625rem;
}
/**********************************/
/* 3. Header
/**********************************/
.intro{
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	margin: 0 auto;
	padding: 25px 0;
}
/**********************************/
/* 4. Quem somos
/**********************************/
.us{
	max-width: 960px;
	margin: 0 auto;
}

.us-c{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.us-c__text{
	flex: 6 1 160px;
}

.somos__img{
	width: 250px;
	height: 300px;
}
/**********************************/
/* 5. Nossos cursos
/**********************************/
.cursos{
	max-width: 960px;
	margin: 0 auto;
}

.cursos-c{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.curso{
	width: 280px;
	margin: 0 20px;
}

.curso__titulo{
	font-size: 1.5rem;
	text-align: center;
	margin: 10px 0 5px 0;
}

.curso__img{
	width: auto;
	height: 200px;
}
/**********************************/
/* 6. Planos
/**********************************/
.planos{
	background-color: var(--clr-blue-dark);
}


.planos-cards{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}
.card{
	border: solid var(--clr-blue-light) 2px;
	margin-top: 2rem;
	padding: 1.25rem 2.5rem; 
	width: 290px;
	margin: 10px;
}

.card__title{
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	margin: 10px auto;
}

.card__preco{
	font-size: 3rem;
	display: block;
	text-align: center;
	font-weight: bold;
}

.card__preco sup {
	position: relative;
	font-size: 1.5rem;
	top: -20px;
}

.plano__divisor{
	background-color: var(--clr-pink-light);
	width: 20px;
	margin: 5px auto;
}

.plano__list{
	/* list-style: circle; */
	margin: 0 auto;
	max-width: 195px;
}

.plano__item{
	margin: 10px 0;
	font-size: italic;
	display: flex;
	align-items: center;
}

.plano__item::before{
	content: "";
	display: block;
	width: .3125rem;
	height: .3125rem;
	background-color: var(--clr-blue-light);
	border-radius: 50%;
	margin-right: .3125rem;
}


.card__btn-comprar{
	display: block;
	max-width: 180px;
	font-size: 2rem;
	font-weight: bold;
	margin: 15px auto;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid var(--clr-blue-light);
}

.card:last-child{
	background-color: var(--clr-marron);
}
@media screen and (max-width: 800px){
	.card:nth-child(3){
		order: -2;
	}	
	.card:nth-child(2){
		order: -1;
	}
}

/**********************************/
/* 7. Vantagens
/**********************************/
.vantagens{
	max-width: 960px;
	margin: 0 auto;
}

.vantagens__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.vantagens__p{
	max-width: 240px;
	margin: 10px;
}

.vantagens__titulo::before{
	content: '';
	width: 10px;
	height: 25px;
	display: inline-block;
	margin-right: 5px;
	background-color: var(--clr-marron);
}

/* para mudar as cores de triangulo nos titulos */
/* .vantagens__p:nth-of-type(3n+1), 
.vantagens__titulo::before{
	background-color: var(--clr-blue-dark);
}

.vantagens__p:nth-of-type(3n+2), 
.vantagens__titulo::before{
	background-color: var(--clr-marron);
}

.vantagens__p:nth-of-type(3n+3), 
.vantagens__titulo::before{
	background-color: var(--clr-blue-dark);
} */

@media screen and (max-width: 800px){
	.vantagens__p{
		max-width: 220px;
	}
}

.vantagens__titulo{
	font-size: 1.7rem;
	margin-bottom: 5px;
	margin-left: 10px;
}
/**********************************/
/* 8. Newsletter
/**********************************/
.newsletter__section{
	background-color: var(--clr-marron);
}

.newsletter__container{
	max-width: 960px;
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.newsletter__infor{
	flex: 1 1 260px;
	padding-left: 10px;
}

.newsletter__titulo{
	font-size: 2.62rem;
	font-weight: bold;
}

.newsletter__subtitulo{
	font-style: italic;
}

.newslatter__formulario{
	flex: 2 1 260px;
	display: flex;
	flex-wrap: wrap;
}

.newsletter__input{
	flex: 3 1 260px;
	font-size: 1.25rem;
	width: 325px;
	color: black;
	font-style: italic;
	font-family: var(--ff-primary);
	border: 5px solid var(--clr-blue-dark);
	padding: 10px;
	margin: 0;
	border-radius: 0;
}

.newsletter__summit{
	flex: 1 1 260px;
	width: 192px;
	font-family: var(--ff-primary);
	font-size: 2.25rem;
	font-weight: bold;
	text-decoration: uppercase;
	background: var(--clr-blue-dark);
	color: black;
	cursor: pointer;
	border: none;
	padding: 15px;
}

/**********************************/
/* 9. Footer
/**********************************/
.footer{
	background-color: var(--clr-blue-dark);
}

.footer__content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 55px calc((100% - 960px) /2);
}

.footer__descricao, 
.footer__logo{
	padding-left: 10px;
	padding-right: 10px;
}